{% extends 'layout.twig' %}

{% block body %}

      <h1 class="title">
        {{ __("Testing Test") }} 
      </h1>
      <p class="subtitle">
      	{{ __("Subtitle") }} 
      </p>

{% endblock %}
{% block javascripts %}
<script>

$(document).ready(function() {
	
	/*
	var socket = io('', {query: ''});
	
  	socket.on('hello', function (data) { 



  	});
	*/
    
});    
    
</script>
{% endblock %}


